  #menu ul {
display:inline-block;
list-style:none;
position:relative;
float:left;
margin:0;
padding:0
}

#menu li {
display:block;
float:left;
text-align:center;
line-height:40px
}

#menu li a,#menu li span {
display:inline-block;
margin-left:1px;
padding:0 1.5em;
letter-spacing:.1em;
text-decoration:none;
text-transform:uppercase;
outline:0;
color:#212121;
}

#menu .current_page_item a {
color:#FFF
}
#menu {
    margin-top: 11px;
}
#menu ul a {
display:block;
color:#333;
text-decoration:none;
line-height:6px;
padding:0 15px;
}

#menu ul li {
position:relative;
float:left;
margin:0;
padding:0
}

#menu ul li.current-menu-item {
background:#000
}


#menu ul ul {
display:none;
position:absolute;
border:1px solid #fff;
left:0;
top: 227%;
}

#menu ul ul li {
float:none;
width:150px;
border:1px solid #fff;

}

#menu ul ul a {
line-height:120%;
padding:10px 15px
}

#menu ul ul ul {
top:0;
left:100%
}
.buttons{
    display: none;
}

#menu ul li:hover > ul {
display:block
}
.nav{
    margin-top: -5px;
}
.float-right{
        font-size: 11pt;
}
.float-right span{
    border-bottom: 2px solid #1aa1ff;

}
#overlay .span-1{
        font-size: 11pt;
        text-decoration: underline;
}
.split-1 ul {
    font-size: 10pt;
}
.overlay .pb-5, .overlay .py-5 {
    padding-bottom: 1rem!important;
}
.overlay .mt-5, .overlay .my-5 {
    margin-top: 1rem!important;
}
@media only screen 
  and (max-device-width: 425px)
  {
    .float-right,.centered{
        display: none;
    }
    .buttons{
        display: block;
    }
    button, select {
    text-transform: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #228b8e;
    border: none;
    color: #fff;
    font-size: 11pt;
    padding: 10px 20px;
}
  }
@media only screen and (max-device-width:320px)
{
    .overlay .pb-5, .overlay .py-5 {
    padding-bottom: 0rem!important;
}
}